{%- set refreshing = refresh > 0 -%}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mailbox</title>
    <link rel="shortcut icon" href="/asset/mailbox.svg">
    {{ block('styles', 'blocks/_asset.html.twig') }}
    {{ block('scripts', 'blocks/_asset.html.twig') }}
    {%- if refreshing %}<meta http-equiv="refresh" content="{{ refresh }}">{% endif -%}
</head>
<body>
<div id='toasts' class='is-hidden' data-toasts='{{ toasts|json_encode }}'></div>
<section class='section container'>
    <div class='columns'>
        <div class='column'>
            {{ block('banner', 'blocks/_banner.html.twig') }}
            <div class='columns is-multiline'>
                {% for id, email in emails %}
                    <div class='column is-12 is-6-desktop'>
                        {{ block('email', 'blocks/_email.html.twig') }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
</body>
</html>
